* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.header_content {
    width: 960px;
    margin: auto;
}

.header {
    background-color: #333;
    color: #fff;
    height: 100%;
}

.header_titol {
    font-size: 28px;
    font-weight: 600;
}

ul {
    padding: 0px;
}

li {
    display: inline-block;
    _float: left;
    list-style: none;
    color: #999;
    font-family: 'OpenSansSemibold', sans-serif;
    _font-weight: 600;
    _border: 1px solid red;
}

li a {
    border-right: 1px solid white;
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 0.5em 1.125em;
}

li:nth-of-type(1) a {
    border-left: 1px solid white;
}

li a:hover {
    background-color: #bbb;
    color: #999;
}

li a:active {
    background-color: white;
    color: #999;
}

.seccio_senar {
    background: #f5f5f5;
}

.seccio_senar * {
    width: 960px;
    margin: auto;
}

.seccio_parella * {
    width: 960px;
    margin: auto;
}

footer {
    margin-top: 30px;
    background: #f5f5f5;
}

footer * {
    width: 960px;
    margin: auto;
}